@model Task1_Homework.Business.Event
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Buy"];
}

<h1>@Localizer["Event Page"]</h1>
<div class="block1">
    <div class="block2fBuy">
        <h3 align="center">@Model.Name</h3>
        <h6 align="center">@Model.Date @Localizer["on"] @Model.Venue.Name</h6>
        <div>
            <img src="~/img/@Model.Banner" width="270" height="420" vspace="50" hspace="30" class="leftimg" />
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="text-right">
    @Html.ActionLink("Sell Ticket", "CreateTicket", "Ticket", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Price"]</th>
                <th>@Localizer["Seller"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var ticket in Model.Tickets)
            {
                @if (ticket.Status == Task1_Homework.Business.TicketSaleStatus.Sale)
                {
                <tr>
                    <td>@ticket.Price</td>
                    <td>@ticket.Seller.UserName</td>
                    <td>
                        @Html.ActionLink("Buy", "Create", "Order", new { id = ticket.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>



