@model EventsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Events"];
}

<div class="block1">
    <select id="cities" multiple class="selectpicker">
        @foreach (var city in Model.Cities)
        {
            <option value="@city.Id">@city.Name</option>
        }
    </select>

    <select id="venues" multiple class="selectpicker">
        @foreach (var venue in Model.Venues)
        {
            <option value="@venue.Id">@venue.Name</option>
        }
    </select>
</div>

<div class="block2ForEvent">
    <h1 align="center" class="h11">@Localizer["List Of Events"]</h1>
    <div class="container-fluid pt-3">
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        <div id="items" class="row row-cols-4">
        </div>
        <nav aria-label="...">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
</div>

@section Scripts
{
    <script src="dist/events.entry.js" type="module" defer></script>
}