<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/dist/site.entry.js" type="module" defer></script>
    <script src="~/dist/search.entry.js" type="module" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/dist/site.css" />
    @inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 headertext">
            <div class="container">
                <a class="buyticketheader" asp-area="" asp-controller="Event" asp-action="Index">BuyTicket</a><div class="trianglemini"></div>
                <button class="navbar-toggler headertext" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse headertext">
                    <partial name="_LoginPartial" />
                    <div class="d6">
                        <form>
                            <input id="searchinput" class="basicAutoComplete" autocomplete="off" type="search" placeholder="Search...">
                        </form>
                    </div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item headertext">
                            <strong><a class="nav-link tx headertext" asp-area="" asp-controller="Event" asp-action="Index">@Localizer["Events"]</a></strong>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted fottertext">
        <div class="container">
            &copy; @DateTime.Now.Year <a asp-area="" asp-controller="Home" asp-action="Privacy">Privat Policy</a>
            <p>Made By Vireo</p>
        </div>
    </footer>
    @RenderSection("Scripts", false)
</body>
</html>
