@model OrderViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "SalesRequest";
}

<h1>@Localizer["Your requests for sale"]</h1>
<div class="block1">
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Event"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Buyer"]</th>
            <th>@Localizer["Status"]</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Ticket.Event.Name</td>
                <td>@order.Ticket.Price</td>
                <td>@order.Buyer.UserName</td>
                <td>@order.Status</td>
                <td>
                    @Html.ActionLink("Accept", "Index", "Home", new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Reject", "Index", "Home", new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>