@model CitiesViewModel

@{
    ViewData["Title"] = "Cities List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cities</h1>

<p>
    @Html.ActionLink("Add New City", "CreateCity", "Admin", new { }, new { @class = "btn btn-primary btnsg" })
</p>
<div class="block1">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div id="modDialog" class="modal fade">
                <div id="dialogContent" class="modal-dialog"></div>
            </div>
            @foreach (var item in Model.Cities)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Country
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCity", "Admin", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Delete", "DeleteCity", "Admin", new { id = item.Id }, new { @class = "btn btn-primary btn-danger compItem" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>