@model UserViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Profile"];
}

@if (User.Identity.IsAuthenticated)
{
    <h1>@Localizer["Profile"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Profile">
                <div id="modDialog" class="modal fade">
                    <div id="dialogContent" class="modal-dialog"></div>
                </div>
                <div> <img src="~/img/@Model.Avatar" width="150" height="220" vspace="50" hspace="30" class="leftimg" /> </div>
                @Html.ActionLink("ChangeAvatar", "ChangeAvatar", "User", new { id = Model.Id }, new { @class = "btn btn-primary btnpad compItem" })
                <p>
                    <strong> @Model.UserName </strong><br />
                </p>
                <ul>
                    <li> @Html.ActionLink("My sales requests", "SalesRequests", "Order", new { }, new { @class = "btn btn-primary btnpad" })</li>
                    <li> @Html.ActionLink("My Tickets", "UserTickets", "Ticket", new { }, new { @class = "btn btn-primary btnpad" })</li>
                    <li> @Html.ActionLink("My Orders", "MyOrders", "Order", new { }, new { @class = "btn btn-primary btnpad" })</li>
                    <a class="btn btn-primary btnpad" href="~/Identity/Account/Manage" title="Manage">Edit Profile</a>
                    <li> @Html.ActionLink("Logout", "Logout", "User", new { }, new { @class = "btn btn-primary btnpad" })</li>
                </ul>
            </form>
        </div>
    </div>
}
