@model Task1_Homework.Business.User
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Profile"];

}

@if (User.Identity.IsAuthenticated)
{
    <h1>@Localizer["Profile"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Profile">
                <div> <img src="~/img/@Model.Avatar" width="150" height="220" vspace="50" hspace="30" class="leftimg" /> </div>
                <p>
                    <strong> @Model.FirstName @Model.LastName </strong><br />
                        <strong>Role:</strong> @Model.Role
                </p>
                <ul>
                    <li> @Html.ActionLink("My sales requests", "SalesRequests", "Order", new { UserName = User.Identity.Name }, new { @class = "btn btn-primary btnpad" })</li>
                    <li> @Html.ActionLink("Logout", "Logout", "User", new { }, new { @class = "btn btn-primary btnpad" })</li>
                </ul>
            </form>
        </div>
    </div>        
}
<div class="block1">
    <h3 align="center">@Localizer["Your Tickets"]</h3>
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Event"]</th>
                <th>@Localizer["Price"]</th>
                <th>@Localizer["Seller"]</th>
                <th>@Localizer["Status"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.Tickets)
            {
                <tr>
                    <td>@ticket.Event.Name</td>
                    <td>@ticket.Price</td>
                    <td>@ticket.Seller.FirstName</td>
                    <td>@ticket.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>